.buy-smartphone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  min-height: 100vh;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
  }

  h2 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .ios-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;

    button {
      border: 1px solid blue;
      border-radius: .5rem;
      font-size: 2rem;
      color: blue;
      background-color: white;
      margin: 5rem;
      font-weight: bold;
      padding: 2rem 3rem;

      &:hover, &:focus {
        background-color: blue;
        color: white;
        cursor: pointer;
      }
    }
  }

  .predefined-screen {
    padding: 1rem;
  }
}
