.checkout {
  background-color: white;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .submit {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10rem;
  }

  .buttons > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}