.congratulation {
  background-color: white;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #0000ff;
  }

  .message {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10rem;
  }

  .start-new-session {
    margin-top: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
}