.options-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: azure;

  .title {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    button {
      padding: 2rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0 3rem;
      cursor: pointer;
      &.chosen {
        background-color: blue;
        color: white;
      }
    }
  }

  .proceed {
    a {
      text-decoration: none;
      background-color: white;
      border: 1px solid #ddd;
      display: block;
      padding: .9rem;
      font-size: 1.5rem;
      margin: 4rem 0 1rem;
      font-weight: bold;
      color: black;
      border-radius: .5rem;

      &:hover {
        background-color: blue;
        color: white;
      }

      &.disabled {
        color: #bbb;
        background-color: white;
      }
    }
  }
}
