body {
  background-color: black;
}

button {
  color: black;
  background-color: white;
  border-radius: .5rem;
  text-decoration: none;
  font-weight: bold;
  outline: none;

  &:hover {
    background-color: blue;
    color: white;
  }

  &.disabled {
    color: #bbb;
    background-color: white;
  }
}

