.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}